/*webkit-sassui-eq-center-cells Start*/
.webkit-sassui-eq-center-cells {
  display: flex;
}

.webkit-sassui-eq-center-cells > * {
  flex: 1;
  position: relative;
}

.webkit-sassui-eq-center-cells > * > .bd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.webkit-sassui-eq-center-cells[data-cells-count="2"] > * {
  padding-top: 50%;
}

.webkit-sassui-eq-center-cells[data-cells-count="3"] > * {
  padding-top: 33.33%;
}

.webkit-sassui-eq-center-cells[data-cells-count="4"] > * {
  padding-top: 25%;
}

.webkit-sassui-eq-center-cells[data-cells-count="5"] > * {
  padding-top: 20%;
}

.webkit-sassui-eq-center-cells[data-cells-count="6"] > * {
  padding-top: 16.66%;
}

/*webkit-sassui-eq-center-cells End*/
* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.test-webkit-sassui-eq-center-cells {
  border: 1px solid salmon;
  margin-bottom: 20px;
}

.test-webkit-sassui-eq-center-cells .bd {
  background: #eee;
  padding: 20px;
}
